/* width */
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: #edf2f7;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border: 3px sold #edf2f7;
  border-radius: 100vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0; 
}